@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    
}
.pokedex{
    margin-top: 150px;
}
h1{
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 600;

}
.navbar{
    background-color: rgb(184, 66, 66);
    color: rgb(255, 230, 88);
}
.navbar-brand{
    font-size: 30px;
    color: rgb(255, 230, 88);
}
.navbar-brand:hover{
    color: rgb(255, 230, 88);
}

.pokemon-list{
    /* background-color: blue; */
    text-align: center;
    margin: 10px 70px;
}


.pokemon-list li{
    width: 100%;
    background-color: rgb(184, 66, 66);
  
}


.pokemonButton{
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(141, 53, 53);
    color: rgb(255, 230, 88);
    font-size: 1.5rem;
    border: none;
    width: 100%;
    max-width: 100%;
    padding: 12px  18px;
    margin: 20px 0;
    border-radius: 10px;
}

.pokemonButton:hover,
.pokemonButton:active{
    background-color: rgba(54, 29, 29, 0.589);
}

.message{
    position: fixed;
    top: 20%;
    padding: 15px;
    background-color: rgb(184, 66, 66);
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 230, 88);
    font-size: 2rem;
}
.message p{
    padding: 18px;
    margin-bottom: 10px;
}
.loader {
    border: 10px solid rgba(54, 29, 29, 0.589);
    border-top: 10px solid rgb(255, 230, 88);
    border-radius: 50%;
    width: 60px;
    height:60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.hidden{
   display: none;
}
.visible{
    display: block;
}

 /* Modal Styling */
 .modal-header{
    background-color: rgb(184, 66, 66);
    color: rgb(255, 230, 88);
 }
 .modal-pokemon-name{
     font-size: 30px;
 }
 .detail-list{
     margin-top: 40px;
 }

.detail-list li{
    padding: 8px 12px;
    border: 4px double;
}

.pokemon-image{
    border: 4px double;
    width: 100%;
    max-width: 100%;
}
.image-container{
    display: grid;
    row-gap: 15px;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
}
body.modal-open{
    overflow: hidden;
    height: 100vh;
}

.pokemon-type{
    padding: 7px 12px;
    background: gray;
    margin: 5px;
    color: white;
    border-radius: 10px;
    border: 2px  solid rgb(68, 68, 68);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.grass{
    background-color: green;
}
.poison{
    background-color: purple;
}
.bug{
    background-color: olive;
}
.electric{
    background-color: yellow;
}
.fire{
    background-color: red;
}
.normal{
    background-color: rgb(121, 118, 118);
}
.rock{
    background-color: rgb(167, 113, 42);
}
.dark{
    background-color: rgb(39, 24, 11);
}
.fairy{
    background-color: rgb(197, 82, 126);
}
.flying{
    background-color: lightskyblue;
}
.ground{
    background-color: rgb(228, 182, 129);
}
.steel{
    background-color: silver;
}
.dragon{
    background-color: slateblue;
}
.fighting{
    background-color: brown;
}
.ghost{
    background-color: rgb(73, 62, 143);
}
.ice{
    background-color: rgb(47, 138, 199);
}
.psychic{
    background-color: rgb(211, 57, 121);
}
.water{
    background-color: rgb(51, 123, 218);
}










@media only screen and (max-width: 768px) {
    .pokemonButton{
        font-size: 16px;
    }
    .pokedex{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .modal-container{
      margin: 0;
      padding: 0;
    }


    .modal-content{
        margin: 0;
        width: 80%;
        overflow:scroll;
        
    }

    .modal-details{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .detail-list {
        margin-top: 30px;
     }

     .detail-list li{
        margin-top: 15px;
     }

    .pokemon-image{
        margin-right: 0;
        border: 4px double;
    }

    .pokemon-image{
        width: 250px;
    }
}

@media only screen 
and (max-width : 900px) 
and (orientation : landscape) {
    .modal-content{
        overflow: scroll;
    }

    .modal-details{
        margin: 100px 0;
    }
}

@media only screen and (max-width: 900px) {
    .modal-content {
        height: 90%;
    }
}