
ul{
    list-style: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.pokemonButton{
    border: none;
}